<!-- Navigation -->
<nav id="nav" class="navbar navbar-expand-md sticky-top">
    <a href="{{ url_for('home') }}" class="navbar-brand">BookingHotel.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="{{ 'nav-item nav-item-common active' if active_page == 'home' else 'nav-item nav-item-common' }}">
                <a class="nav-link" href="{{ url_for('home') }}">Trang chủ</a>
            </li>
            <li class="nav-item nav-item-common">
                <a class="nav-link" href="#">Dịch vụ</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item nav-item-login">
                <a class="nav-link" href="{{ url_for('user_login') }}">
                    {% if current_user.avatar %}
                        <img src="{{ current_user.avartar }}" width="30px" height="30px" alt="{{ current_user.name }}" class="rounded-circle"/>
                    {% else %}
                        <img src="{{ url_for('static', filename='img/background.jpg') }}" width="30px" height="30px" alt="{{ current_user.name }}" class="rounded-circle"/>
                    {% endif %}
                    {{ current_user.name }}
                </a>
            </li>
            <li class="nav-item nav-item-common">
                <a class="nav-link" href="{{ url_for('user_logout') }}">
                    Đăng xuất
                </a>
            </li>
            {% else %}
                <li class="{{ 'nav-item nav-item-common active' if active_page == 'user_login' else 'nav-item nav-item-common' }}">
                <a class="nav-link" href="{{ url_for('user_login') }}">Đăng ký | Đăng nhập</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container alert-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<script>
  $(document).ready(function () {
  $("#{{request.endpoint}}").addClass("active"); })
</script>