{% extends 'admin/base.html' %}
{% block body %}
<h1 class="text-center">Thống kê báo cáo doanh thu theo tháng</h1>
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
</select>
<div id="tab1" class="row">
    <div class="table table-striped col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th scope="col">Tháng</th>
                <th scope="col">Loại phòng</th>
                <th scope="col">Doanh thu</th>
                <th scope="col">Lượt thuê</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:,.0f}".format(s[2]) }} VND
                    {% else %}
                    0 VND
                    {% endif %}
                </td>
                <td>{{ s[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-sx-12">
        <canvas id="MyMonthChart"></canvas>
    </div>
</div>

<div id="tab2" class="row">
    <div class="table table-striped col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th scope="col">Tháng</th>
                <th scope="col">Phòng</th>
                <th scope="col">Số ngày thuê</th>
            </tr>
            {% for i in count %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <canvas id="MyCountChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [], labels2 = []
    let data = [], data2 = []
    let colors = [], colors2 = []
    let borderColors = [], borderColors2 = []
    let r, g, b;

    {% for s in stats %}
    {% if s[2] %}
        labels.push('Tháng {{ s[0] }}')
        data.push({{ s[2] }})

        r = parseInt(Math.random() * 255)
        g = parseInt(Math.random() * 255)
        b = parseInt(Math.random() * 255)

        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif%}
    {% endfor %}

    {% for i in count %}
        labels2.push('Tháng{{ i[0] }}')
        data2.push('{{ i[2] }}')

        r = parseInt(Math.random() * 255)
        g = parseInt(Math.random() * 255)
        b = parseInt(Math.random() * 255)

        colors2.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('MyMonthChart').getContext('2d');
        const ctx2 = document.getElementById('MyCountChart').getContext('2d');

        loadChart(ctx, labels, data, 'bar', colors, borderColors)
        loadChart2(ctx2, labels2, data2, 'doughnut', colors2, borderColors2)
    }

function loadChart(ctx, labels, data, type, colors, borderColors) {
    const myChart = new Chart(ctx, {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                label: 'Thống kê doanh thu',
                data: data,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

function loadChart2(ctx2, labels2, data2, type, colors2, borderColors2) {
    const myChart = new Chart(ctx2, {
        type: type,
        data: {
            labels: labels2,
            datasets: [{
                label: 'Thống kê mật độ sử dụng phòng',
                data: data2,
                backgroundColor: colors2,
                borderColor: borderColors2,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

</script>

{% endblock %}
