{% extends 'layout/base.html' %}

{% set active_page = "staff_page" %}

{% block title %}Nhân viên BookingHotel{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bold.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}

{% block content %}
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="{{ url_for('home') }}">BookingHotel.com</a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li
                            class="sidebar-item active ">
                        <a href="{{ url_for('staff_page') }}" class='sidebar-link'>

                            <span>Bảng phiếu thuê</span>
                        </a>
                    </li>

                    <li
                            class="sidebar-item ">
                        <a href="#" class='sidebar-link'>

                            <span>Bảng phiếu đặt</span>
                        </a>
                    </li>

                    <li
                            class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>

                            <span>Extra Components</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="extra-component-avatar.html">Avatar</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-sweetalert.html">Sweet Alert</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-toastify.html">Toastify</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-rating.html">Rating</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-divider.html">Divider</a>
                            </li>
                        </ul>
                    </li>

                    <li
                            class="sidebar-item">
                        <a href="{{ url_for('user_logout') }}" class='sidebar-link'>

                            <span>Đăng xuất</span>
                        </a>
                    </li>

                    <!--                    <li class="sidebar-title">Forms &amp; Tables</li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-hexagon-fill"></i>-->
                    <!--                            <span>Form Elements</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-input.html">Input</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-input-group.html">Input Group</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-select.html">Select</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-radio.html">Radio</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-checkbox.html">Checkbox</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-element-textarea.html">Textarea</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="form-layout.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-file-earmark-medical-fill"></i>-->
                    <!--                            <span>Form Layout</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-pen-fill"></i>-->
                    <!--                            <span>Form Editor</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-editor-quill.html">Quill</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-editor-ckeditor.html">CKEditor</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-editor-summernote.html">Summernote</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="form-editor-tinymce.html">TinyMCE</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="table.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-grid-1x2-fill"></i>-->
                    <!--                            <span>Table</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-file-earmark-spreadsheet-fill"></i>-->
                    <!--                            <span>Datatables</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="table-datatable.html">Datatable</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="table-datatable-jquery.html">Datatable (jQuery)</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li class="sidebar-title">Extra UI</li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-pentagon-fill"></i>-->
                    <!--                            <span>Widgets</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-widgets-chatbox.html">Chatbox</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-widgets-pricing.html">Pricing</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-widgets-todolist.html">To-do List</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-egg-fill"></i>-->
                    <!--                            <span>Icons</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-icons-bootstrap-icons.html">Bootstrap Icons </a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-icons-fontawesome.html">Fontawesome</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-icons-dripicons.html">Dripicons</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-bar-chart-fill"></i>-->
                    <!--                            <span>Charts</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-chart-chartjs.html">ChartJS</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-chart-apexcharts.html">Apexcharts</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="ui-file-uploader.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-cloud-arrow-up-fill"></i>-->
                    <!--                            <span>File Uploader</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-map-fill"></i>-->
                    <!--                            <span>Maps</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-map-google-map.html">Google Map</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="ui-map-jsvectormap.html">JS Vector Map</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li class="sidebar-title">Pages</li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="application-email.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-envelope-fill"></i>-->
                    <!--                            <span>Email Application</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="application-chat.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-chat-dots-fill"></i>-->
                    <!--                            <span>Chat Application</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="application-gallery.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-image-fill"></i>-->
                    <!--                            <span>Photo Gallery</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="application-checkout.html" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-basket-fill"></i>-->
                    <!--                            <span>Checkout Page</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-person-badge-fill"></i>-->
                    <!--                            <span>Authentication</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="auth-login.html">Login</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="auth-register.html">Register</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="auth-forgot-password.html">Forgot Password</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  has-sub">-->
                    <!--                        <a href="#" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-x-octagon-fill"></i>-->
                    <!--                            <span>Errors</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="submenu ">-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="error-403.html">403</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="error-404.html">404</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="submenu-item ">-->
                    <!--                                <a href="error-500.html">500</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->

                    <!--                    <li class="sidebar-title">Raise Support</li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="https://zuramai.github.io/mazer/docs" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-life-preserver"></i>-->
                    <!--                            <span>Documentation</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="https://github.com/zuramai/mazer/blob/main/CONTRIBUTING.md" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-puzzle"></i>-->
                    <!--                            <span>Contribute</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                    <li-->
                    <!--                            class="sidebar-item  ">-->
                    <!--                        <a href="https://github.com/zuramai/mazer#donate" class='sidebar-link'>-->
                    <!--                            <i class="bi bi-cash"></i>-->
                    <!--                            <span>Donate</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!--                </ul>-->
            </div>
            <button class="sidebar-toggler btn x">Hidden<</button>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3>Bảng phiếu thuê</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon purple">
                                                <i class="iconly-boldShow"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Số phiếu thuê</h6>
                                            <span class='tooltip'>Số phiếu thuê được lưu</span>
                                            <h6 class="font-extrabold mb-0">{{ rental_voucher|length }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon blue">
                                                <i class="iconly-boldProfile"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Thuê trong ngày</h6>
                                            <span class='tooltip'>Số lượng phiếu thuê trong ngày</span>
                                            <h6 class="font-extrabold mb-0">{{ rental_voucher|length }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon green">
                                                <i class="iconly-boldAdd-User"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Phòng còn lại</h6>
                                            <span class='tooltip'>Số lượng phòng còn trống</span>
                                            <h6 class="font-extrabold mb-0">{{ room_left|length }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon red">
                                                <i class="iconly-boldBookmark"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Doanh thu hôm nay</h6>
                                            <span class='tooltip'>Tổng doanh thu hôm nay</span>
                                            <h6 class="font-extrabold mb-0">112</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <form class="input-group input-group-search-rental">
                                <div class="form-outline">
                                    <label class="form-label" for="form1" >Search</label>
                                    <input type="search" id="form1" class="form-control" name="keyword" placeholder="Nhập tên khách hàng hoặc CMND..."/>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Phiếu thuê</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit"></div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên phòng</th>
                                            <th scope="col">Tên khách hàng</th>
                                            <th scope="col">Ngày thuê</th>
                                            <th scope="col">Ngày trả</th>
                                            <th scope="col">Mã thanh toán</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for t in rental_voucher_by %}
                                        <tr>
                                            <th scope="col">{{ loop.index }}</th>
                                            <td>{{ t[0] }}</td>
                                            <td>{{ t[1] }}</td>
                                            <td>{{ t[2] }}</td>
                                            <td>{{ t[3] }}</td>
                                            <td>{{ t[4] }}</td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Profile Visit</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <svg class="bi text-primary" width="32" height="32" fill="blue"
                                                     style="width:10px">
                                                    <use
                                                            xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill"/>
                                                </svg>
                                                <h5 class="mb-0 ms-3">Europe</h5>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="mb-0">862</h5>
                                        </div>
                                        <div class="col-12">
                                            <div id="chart-europe"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <svg class="bi text-success" width="32" height="32" fill="blue"
                                                     style="width:10px">
                                                    <use
                                                            xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill"/>
                                                </svg>
                                                <h5 class="mb-0 ms-3">America</h5>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="mb-0">375</h5>
                                        </div>
                                        <div class="col-12">
                                            <div id="chart-america"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <svg class="bi text-danger" width="32" height="32" fill="blue"
                                                     style="width:10px">
                                                    <use
                                                            xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill"/>
                                                </svg>
                                                <h5 class="mb-0 ms-3">Indonesia</h5>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="mb-0">1025</h5>
                                        </div>
                                        <div class="col-12">
                                            <div id="chart-indonesia"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Latest Comments</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-lg">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Comment</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="assets/images/faces/5.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Congratulations on your graduation!</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="assets/images/faces/2.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Wow amazing design! Can you make another tutorial
                                                        for
                                                        this design?</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body py-4 px-5">
                            <div class="d-flex align-items-center staff-profile-wrapper">
                                <div class="avatar avatar-xl">
                                    {% if current_user.avatar %}
                                    <img src="{{ current_user.avatar }}" width="30px" height="30px"
                                         alt="{{ current_user.name }}" class="rounded-circle"/>
                                    {% else %}
                                    <img src="{{ url_for('static', filename='img/background.jpg') }}" width="30px"
                                         height="30px" alt="{{ current_user.name }}" class="rounded-circle"/>
                                    {% endif %}
                                </div>
                                <div class="ms-3 name staff-profile">
                                    <h5 class="font-bold">{{ current_user.name }}</h5>
                                    <h6 class="text-muted mb-0">{{ current_user.email }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Phòng Thuê Gần Đây</h4>
                        </div>
                        <div class="card-content pb-4">
                            <div class="recent-message d-flex px-4 py-3">
                                <div class="avatar avatar-lg">
                                    <img src="assets/images/faces/4.jpg">
                                </div>
                                <div class="name ms-4">
                                    <h5 class="mb-1">Hank Schrader</h5>
                                    <h6 class="text-muted mb-0">@johnducky</h6>
                                </div>
                            </div>
                            <div class="recent-message d-flex px-4 py-3">
                                <div class="avatar avatar-lg">
                                    <img src="assets/images/faces/5.jpg">
                                </div>
                                <div class="name ms-4">
                                    <h5 class="mb-1">Dean Winchester</h5>
                                    <h6 class="text-muted mb-0">@imdean</h6>
                                </div>
                            </div>
                            <div class="recent-message d-flex px-4 py-3">
                                <div class="avatar avatar-lg">
                                    <img src="assets/images/faces/1.jpg">
                                </div>
                                <div class="name ms-4">
                                    <h5 class="mb-1">John Dodol</h5>
                                    <h6 class="text-muted mb-0">@dodoljohn</h6>
                                </div>
                            </div>
                            <div class="px-4">
                                <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                                    Conversation
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Visitors Profile</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-visitors-profile"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>

<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">

        </div>
    </div>
    {% endblock %}

